/*----------------------------------accordion--------------------------------*/
.accordion {
    &__block {
        margin-bottom: 20px;
    }
    &__summary {
        list-style: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer; 
        padding: 10px;
        position: relative;
        width: 100%;
        background-color: #E0F0FA;
        z-index: 3;
        &::after,
        &::before {
            position: absolute;
            content: '';
            width: 10px;
            height: 2px;
            top: 40%;
            right: 0;
            background-color: var(--color-black);
            transition: transform 0.2s ease-out;
        }
        &::after {
            transform: rotate(-45deg);
            right: 5px;
        }
        &::before {
            transform: rotate(45deg);
            right: 12px;
        }
    }
    &__details[open] &__summary::after {
        transform: rotate(45deg);
    }
    &__details[open] &__summary::before {
        transform: rotate(-45deg);
    }
    &__content {
        display: grid;
        grid-template-rows: 0fr;
        transition-duration: 0.5s;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #E0F0FA;
        opacity: 0;
        margin-top: -30px;
        &_body {
            overflow: hidden;
        }
    }
    &__details[open] + &__content {
        grid-template-rows: 1fr;
        opacity: 1;
        margin-top: 0px;
    }
}

/*----------------------------------accordion--------------------------------*/