/*----------------------------------form--------------------------------*/
.form {
    margin: 0 auto;
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    position: relative;
    display: inline-flex;
    gap: 3.5rem;
    @include desktop {
        flex-wrap: wrap;
    }
    @include mobile {
        padding: 0rem;
    }
    &__description {
        flex-basis: 43rem;
    }
    &__title {
        @include fluid-text(24, 30);
        line-height: 100%;
        font-family: 'Playfair', sans-serif;
        margin-bottom: 2rem;
    }
    &._sending::after {
        opacity: 1;
        visibility: visible;
    }
    &__label {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.2rem;
        @include mobile {
            flex-wrap: wrap;
        }
    }
    &__messengers {
        display: flex;
        align-items: center;
        gap: 1.2rem;
    }
    &__messenger {
        backdrop-filter: blur(4px);
        background: rgba(252, 250, 247, 0.2);
        border: 1px solid rgba(252, 250, 247, 0.3);
        border-radius: 2px;
        padding: 1rem;
        &:hover {
            background: rgba(241, 240, 238, 0.5);
        }
    }
    &__item {
        width: 100%;
        margin-bottom: 1rem;
        @include mobile {
            margin-bottom: 0rem;
        }
    }
    &__inner {
        max-width:16rem;
    }

    &__input {
        background-color: #fcfaf734;
        padding: 1rem 1.6rem;
        border: 1px solid rgba(252, 250, 247, 0.3);
        border-radius: 2px;
        transition: all 0.3s ease 0s;
        width: 100%;
        color: var(--color-white);
        &::placeholder {
            color: rgba(252, 250, 247, 0.6);
            @include fluid-text(14, 16);
        }
        &:focus {
            box-shadow: 0 0 15px var(--color-blue);
        }
        &._error {
            border: 1px solid red;
        }
    }
    &__error {
        font-size: 0.7rem;
        color: red;
        opacity: 0;
    }
    &__error.view {
        opacity: 1;
    }
    &__button {
        width: 100%;
        padding: 0.9rem 1.6rem;
        background-color: var(--color-blue);
        cursor: pointer;
        color: var(--color-brow);
        border: 1px solid rgba(252, 250, 247, 0.3);
        border-radius: 2px;
        font-weight: 600;
        @include fluid-text(14, 16);
        backdrop-filter: blur(4px);
        background: #fcfaf7;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        @include mobile {
            flex-wrap: wrap;
            width: 100%;
        }
    }
}
.checkbox {
    width: 100%;
    margin-bottom: 1rem;
    &._error .checkbox__label::before{
        border: 1px solid red;
    }
    &__input {
        display: none;
        &:checked + .checkbox__label::after {
            transform: scale(1);
        }
    }
    &__label {
        @include fluid-text(12, 14);
        line-height: 140%;
        display: inline-flex;
        align-items: center;
        width: 100%;
        position: relative;
        cursor: pointer;
        span {
            opacity: 0.5;
        }
        &::before {
            content: '';
            align-self: flex-start;
            flex: 0 0 16px;
            height: 16px;
            border-radius: 2px;
            margin-right: 0.5rem;
            border: 0.50px solid rgba(252, 250, 247, 0.5);
        }
        &::after {
            transition: all 0.3s ease 0s;
            position: absolute;
            content: '';
            width: 8px;
            height: 8px;
            top: 4px;
            left: 4px;
            background-color: var(--color-white);
            transform: scale(0);
        }
    }

}
.success-message {
    display: flex;
    justify-content: center;
    @include fluid-text(24, 30);
}
/*----------------------------------form--------------------------------*/