/*----------------------------------form--------------------------------*/
.form {
    max-width: 600px;
    margin: 0 auto;
    color: var(--color-black);
    padding: 2rem;
    background-color: var(--color-white);
    border-radius: 5px;
    margin-bottom: 1rem;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #4d036231 url(../images/loading.gif) center / 50px no-repeat;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
      }
    &._sending::after {
        opacity: 1;
        visibility: visible;
    }
    &__label {
        font-size: 1rem;
        display: block;
        margin-bottom: 0.5rem;
    }
    &__input,
    &__textarea {
        width: 100%;
        background-color: #f1d5f9;
        padding: 0.7rem;
        border-radius: 5px;
        transition: all 0.3s ease 0s;
        &:focus {
            box-shadow: 0 0 15px var(--color-blue);
        }
        &._error {
            border: 1px solid red;
        }
    }
    &__error {
        font-size: 0.7rem;
        color: red;
        opacity: 0;
    }
    &__error.view {
        opacity: 1;
    }
    &__textarea {
        resize: none;
        margin-bottom: 1rem;
    }
    &__button {
        width: 100%;
        padding: 1rem;
        background-color: var(--color-blue);
        cursor: pointer;
        color: var(--color-white);
        border-radius: 5px;
        font-weight: 700;
        font-size: 1.5rem;
    }
}
.select {
    background-color: #f1d5f9;
    color: var(--color-violet);
    padding: 0.4rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
}
.file {
    &__item {
        position: relative;
    }
    &__input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        font-size: 0;
        cursor: pointer;
    }
    &__button {
        background-color: var(--color-blue);
        color: var(--color-white);
        display: inline-flex;
        padding: 0.4rem;
        border-radius: 5px;
    }
    &__preview {
        display: inline-block;
        max-width: 100px;
        margin-top: 1rem;
        img {
            width: 100%;
        }
    }
}
.checkbox {
    width: 100%;
    margin-bottom: 1rem;
    &._error .checkbox__label::before{
        border: 1px solid red;
    }
    &__input {
        display: none;
        &:checked + .checkbox__label::after {
            transform: scale(1);
        }
    }
    &__label {
        font-size: clamp(0.8rem, 1.4vw, 1rem);
        line-height: 140%;
        display: inline-flex;
        align-items: center;
        width: 100%;
        position: relative;
        cursor: pointer;
        &::before {
            content: '';
            align-self: flex-start;
            flex: 0 0 16px;
            height: 16px;
            background-color: var(--color-white);
            border-radius: 2px;
            margin-right: 0.5rem;
            border: 1px solid var(--color-blue);
        }
        &::after {
            transition: all 0.3s ease 0s;
            position: absolute;
            content: '';
            width: 8px;
            height: 8px;
            top: 4px;
            left: 4px;
            background-color: var(--color-blue);
            transform: scale(0);
        }
        a {
            color: var(--color-pink);
            display: inline-block;
        }
    }
}

/*----------------------------------form--------------------------------*/