/*----------------------------------header--------------------------------*/
.header {
    position: fixed;
    width: 100%;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-brow);
    z-index: 999;
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 0.7rem 0rem;
    }
    &__logo {
        z-index: 3; 
        @include desktop {
           width: 9rem;
        }
    }
    &__button {
        @include table {
            display: none;
        }
    }
}

/*----------------------------------header--------------------------------*/