/*----------------------------------menu--------------------------------*/
.menu {
    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px 30px;
    }
    &__link {
        font-weight: 700;
        line-height: 17px;
        text-transform: uppercase;
        position: relative;
        @include fluid-text(12, 14);
        &:hover {
            color: var(--color-blue);
        }
    }
    @include mobile {
        position: fixed;
        left: 0;
        top: -100%;
        width: 100%;
        height: 100%;
        background: blueviolet;
        padding: 100px 30px 30px 30px; 
        transition: All 0.5s ease 0s;
        overflow: auto;
        z-index: 9;
        &._active{
            top: 0;
        }
        &__list-item:not(:last-child){
            margin-bottom: 30px;
        }
        ul {
            display: block;
            text-align: center;
            position: relative;
            color: var(--color-white);
        }
        ul li {
            margin-bottom: 20px;
        }
    }
}

/*----------------------------------menu--------------------------------*/