/*----------------------------------popup--------------------------------*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    z-index: 999;
    &__body {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__content {
        max-width: 554px;
        background-color: var(--color-white);
        padding: 70px 66px 35px;
        position: relative;
    }
    &__title {
        color: #000000;
        font-size: 1.5rem;
        line-height: normal;
        margin-bottom: 40px;
        text-align: center;
        text-transform: uppercase;
    }
    &.open {
        opacity: 1;
        visibility: visible;
    }
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2.5rem;
        color: red;
        transform: rotate(45deg);
    }
  }

/*----------------------------------popup--------------------------------*/