/*----------------------------------search--------------------------------*/
.search {
    &__box {
        flex: none;
        z-index: 4;
        }
    &__btn {
        background-color: inherit;
        cursor: pointer;
        padding: 8.5px;
        position: relative;
        z-index: 4;
    }
    &__btn svg {
        position: absolute;
        right: 0;
        top: 0;
    }
    &__btn._act {
          opacity: 0;
    }
    &__label_input {
        border-bottom: 1px solid rgb(17, 53, 167);
        width: 100%;
    }
    &__window {
        position: absolute;
        right: 0;
        width: 1076px;
        background: rgba(255, 255, 255, 0.94);
        padding: 50px 85px;
        border-radius: 15px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
        transform: translateY(-100%); 
        z-index: 999;
    }
    &__label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--color-blue);
        font-size: 18px;
    }
    &__window._act {
        opacity: 1;
        visibility: visible;
        width: 59%; 
        transform: translateY(0); 
    }
}
   
/*----------------------------------search--------------------------------*/