/*---------------------------------------sliders----------------------------*/
.slider {
    overflow: hidden;
    position: relative;
    padding-bottom: 66px;
    padding: 0px 18px 60px 20px;
}
  /*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
  .swiper-wrapper {
    display: flex;
    align-items: stretch;
}
  .swiper-slide {
    height: auto;
    transition: all 0.5s ease;
}
  .card {
    height: 100%;
}
  /*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
  .swiper-button-next,
  .swiper-button-prev {
    top: 45%;
}
  .swiper-button-next {
    right: 10px;
}
  .swiper-button-prev {
    left: 10px;
}
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 20px;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    padding: 14px 18px;
    border-radius: 15px;
    background-color: var(--color-black);
}
  .swiper-pagination-bullet {
    opacity: 1;
    background-color: var(--color-white);
    transition: All 0.5s ease 0s;
    width: 16px;
    height: 16px;
    scale: 0.7;
}
  .swiper-pagination-bullet-active {
    width: 16px;
    height: 16px;
    scale: 1.2;
    background-color: var(--color-brown-light);
    background-color: #7B614D;
}

/*---------------------------------------sliders----------------------------*/