  /*---------------------------------------tabs----------------------------*/
.tabs {
    &__nav_button.active-tab  {
        background-color: #1280E5;
        border-right-color: #1280E5;
        color: #FFFFFF;
    }
    &__content {
        display: none;
    }
    &__content.active-tab {
        display: block;
    }
}

  /*---------------------------------------tabs----------------------------*/