@mixin fluid-text($min: 14, $max: 24, $base-font-size: 16) {
    font-size: clamp(
        #{$min / $base-font-size}rem,
        #{$max / 1440 * 100}vw,
        #{$max / $base-font-size}rem
    );
}


@mixin content-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
