@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100dvh;
  min-width: 320px;
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  font-size: inherit;
  color: inherit;
  display: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

address {
  font-style: normal;
}

/*----------------------------------fonts--------------------------------*/
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Playfair";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/*----------------------------------fonts--------------------------------*/
/*----------------------------------переменные--------------------------------*/
:root {
  --color-brow: #482C0C;
  --color-white: #FCFAF7;
  --color-green: #234204;
  --border: 1px solid var(--color-black);
  --border-radius: 10px;
  --border-radius-small: 5px;
  --shadow: 0px 0px 20px 0px var(--color-black);
  --font-family-base: "Inter", sans-serif;
  --container-width: 114.5rem;
  --container-padding-x: 1rem;
  --section-padding-y: 4.5rem;
}

/*----------------------------------переменные--------------------------------*/
/*----------------------------------global--------------------------------*/
body.lock {
  overflow: hidden;
}

body {
  font-family: var(--font-family-base);
  font-size: 1rem;
  color: var(--color-brow);
  background: var(--color-white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

._container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0px var(--container-padding-x);
}

section {
  padding: var(--section-padding-y) 0rem;
}
@media (max-width: 48rem) {
  section {
    padding: 2rem 0px;
  }
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-size: clamp(1.5rem, 3.3333333333vw, 3.75rem);
  line-height: 100%;
  font-family: "Playfair", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
}
@media (max-width: 48rem) {
  .title {
    margin-bottom: 2rem;
  }
}

.subtitle {
  font-size: clamp(1.125rem, 1.6666666667vw, 1.875rem);
  line-height: 100%;
  font-family: "Playfair", sans-serif;
}

.text {
  font-size: clamp(0.875rem, 0.8888888889vw, 1rem);
}

.link {
  padding: 1rem 1.6rem;
  background-color: var(--color-brow);
  color: var(--color-white);
  font-size: clamp(0.75rem, 0.7777777778vw, 0.875rem);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.button-transparent .link {
  background-color: var(--color-white);
  color: var(--color-brow);
  font-size: clamp(0.875rem, 0.8888888889vw, 1rem);
}

.error {
  text-align: center;
  margin-bottom: 5rem;
}

.error .title {
  font-size: clamp(6.25rem, 11.1111111111vw, 12.5rem);
}
.error .text {
  font-size: clamp(1.25rem, 2.2222222222vw, 2.5rem);
  margin-top: 5rem;
}
.error__button {
  margin: 2rem;
  background-color: var(--color-brow);
  color: var(--color-white);
  padding: 1rem;
  border-radius: 5px;
}

/*----------------------------------global--------------------------------*/
/*----------------------------------header--------------------------------*/
.header {
  position: fixed;
  width: 100%;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-brow);
  z-index: 999;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0.7rem 0rem;
}
.header__logo {
  z-index: 3;
}
@media (max-width: 80rem) {
  .header__logo {
    width: 9rem;
  }
}
@media (max-width: 64rem) {
  .header__button {
    display: none;
  }
}

/*----------------------------------header--------------------------------*/
/*----------------------------------menu--------------------------------*/
.menu {
  margin-left: 5rem;
}
@media (max-width: 80rem) {
  .menu {
    margin-left: 0rem;
  }
}
.menu ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0rem 2.5rem;
}
@media (max-width: 80rem) {
  .menu ul {
    gap: 0rem 1rem;
  }
}
.menu ul > li {
  position: relative;
}
.menu__link {
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  position: relative;
  opacity: 0.5;
  display: inline-block;
  font-size: clamp(0.75rem, 0.7777777778vw, 0.875rem);
}
@media (hover: hover) {
  .menu__link:hover {
    color: var(--color-green);
  }
}
.menu__arrow {
  position: absolute;
  right: -0.7rem;
  top: -1px;
}
.menu__sub-list {
  position: absolute;
  background: rgba(252, 250, 247, 0.9);
  padding: 2rem;
  left: -2rem;
  width: 17rem;
  opacity: 0;
  visibility: hidden;
  transition: All 0.3s ease 0s;
}
.menu__sub-list li {
  opacity: 0.5;
  transition: All 0.3s ease 0s;
  text-transform: uppercase;
  font-size: clamp(0.75rem, 0.7777777778vw, 0.875rem);
}
.menu__sub-list li:not(:last-child) {
  margin-bottom: 1.2rem;
}
.menu__sub-list li:hover {
  opacity: 1;
}
.menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
}
.menu .active__color {
  opacity: 1;
}
.menu__button {
  display: none;
}
@media (max-width: 64rem) {
  .menu__button {
    display: block;
  }
}
@media (max-width: 64rem) {
  .menu {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: var(--color-green);
    padding: 50px 30px 30px 30px;
    transition: All 0.5s ease 0s;
    overflow: auto;
    z-index: 9;
  }
  .menu._active {
    top: 0;
  }
  .menu__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .menu ul {
    display: block;
    text-align: center;
    color: var(--color-white);
  }
  .menu ul li {
    margin-bottom: 20px;
  }
  .menu__item .menu__sub-list {
    display: none;
    position: static;
    color: var(--color-brow);
    margin-top: 0.5rem;
    background-color: inherit;
    margin: 0 auto;
    color: var(--color-white);
    padding: 0.5rem 0 0 0;
  }
  .menu__item.active .menu__sub-list {
    display: block;
    transform: translate(0px, 0px);
  }
}

/*----------------------------------menu--------------------------------*/
/*----------------------------------burger--------------------------------*/
.burger__wrapper {
  display: none;
}
@media (max-width: 64rem) {
  .burger__wrapper {
    width: 36px;
    height: 36px;
    flex: 0 0 auto;
    border-radius: 50%;
    position: relative;
    display: block;
    z-index: 9;
  }
  .burger__wrapper .burger {
    z-index: 2;
    cursor: pointer;
  }
  .burger__wrapper .burger__line {
    height: 2px;
    width: 27px;
    position: absolute;
    transition: all 0.3s ease 0s;
    background: #000;
    transform: translate(-50%, -50%);
    border-radius: 1px;
  }
  .burger__wrapper .burger__line:first-child {
    left: 50%;
    top: 25%;
  }
  .burger__wrapper .burger__line:nth-child(2) {
    left: 50%;
    top: 50%;
  }
  .burger__wrapper .burger__line:last-child {
    left: 50%;
    top: 75%;
  }
  .burger__wrapper._active .burger__line:nth-child(2) {
    opacity: 0;
  }
  .burger__wrapper._active .burger__line:first-child {
    transform: rotate(-45deg);
    left: 30%;
    top: 50%;
  }
  .burger__wrapper._active .burger__line:last-child {
    transform: rotate(45deg);
    left: 30%;
    top: 50%;
  }
}

/*----------------------------------burger--------------------------------*/
/*----------------------------------main-section--------------------------------*/
.main-section--mod {
  padding: 6rem 0rem 0rem 0rem;
}
.main-section--mod .title {
  margin-bottom: 0rem;
}
@media (max-width: 48rem) {
  .main-section--mod {
    padding: 2rem 0rem 0rem 0rem;
  }
}

.main-section {
  margin-top: 4rem;
}
.main-section__body {
  position: relative;
  padding: 6rem 0rem 4.8rem 0rem;
  margin-bottom: 2rem;
}
.main-section__body--mod {
  padding: 21.5rem 0.5rem 3rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  flex-wrap: wrap;
}
@media (max-width: 48rem) {
  .main-section__body--mod {
    padding: 10rem 0.5rem 3rem 0.5rem;
  }
}
.main-section__body--mod .main-section__lists .main-section__list {
  margin: 0rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  max-width: 77rem;
}
@media (max-width: 48rem) {
  .main-section__body--mod .main-section__lists .main-section__list {
    flex-wrap: wrap;
  }
}
.main-section__body--mod .main-section__list_box {
  transform: translate(0%, 150%);
  opacity: 0;
  transition: all 1s ease 0s;
  text-align: start;
  padding: 0.9rem 1.2rem;
  width: 100%;
  font-size: clamp(0.75rem, 0.7777777778vw, 0.875rem);
}
@media (max-width: 48rem) {
  .main-section__body--mod .main-section__list_box {
    width: 100%;
  }
}
.main-section__body--mod .main-section__list_box._action {
  transform: translate(0px, 0px);
  opacity: 1;
}
.main-section__info {
  text-align: center;
  max-width: 60rem;
  margin: auto;
}
.main-section__text {
  padding-bottom: 3.5rem;
  max-width: 30rem;
  margin: auto;
}
@media (max-width: 80rem) {
  .main-section__text {
    margin-top: 0rem;
    padding-bottom: 2rem;
  }
}
.main-section__lists {
  position: relative;
  z-index: 9;
}
.main-section__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 48rem) {
  .main-section__list {
    flex-wrap: wrap;
  }
}
.main-section__list:first-child {
  margin: 0rem 8rem;
  margin-bottom: 4rem;
}
@media (max-width: 64rem) {
  .main-section__list:first-child {
    margin: 0rem 5rem;
    margin-bottom: 4rem;
  }
}
@media (max-width: 48rem) {
  .main-section__list:first-child {
    margin-bottom: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.main-section__list:nth-child(2) {
  margin: 0rem 15rem;
  margin-bottom: 12.5rem;
}
@media (max-width: 80rem) {
  .main-section__list:nth-child(2) {
    margin-bottom: 15rem;
  }
}
@media (max-width: 64rem) {
  .main-section__list:nth-child(2) {
    margin: 0rem 5rem;
    margin-bottom: 15rem;
  }
}
@media (max-width: 48rem) {
  .main-section__list:nth-child(2) {
    margin-bottom: 5rem;
    justify-content: center;
  }
}
.main-section__list_box {
  position: relative;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background: rgba(72, 44, 12, 0.2);
  border: 1px solid rgba(252, 250, 247, 0.43);
  border-radius: 1px;
  width: 20rem;
  text-align: center;
  padding: 0.7rem;
  color: var(--color-white);
  text-transform: uppercase;
  font-size: clamp(0.75rem, 0.8888888889vw, 1rem);
}
@media (max-width: 80rem) {
  .main-section__list_box {
    width: 17rem;
  }
}
.main-section__list_box::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: 0.4rem;
  left: 0.4rem;
  border-radius: 50%;
  background-color: var(--color-white);
}
.main-section__list_box:first-child {
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: all 1s ease 0s;
}
.main-section__list_box:first-child._action {
  transform: translate(0px, 0px);
  opacity: 1;
}
.main-section__list_box:last-child {
  transform: translate(50%, 0%);
  opacity: 0;
  transition: all 1s ease 0s;
}
.main-section__list_box:last-child._action {
  transform: translate(0px, 0px);
  opacity: 1;
}
.main-section__list_link {
  left: 50%;
  background-color: var(--color-white);
  width: 20rem;
  text-align: center;
  padding: 0.7rem;
  transform: translate(0%, 150%);
  opacity: 0;
  transition: all 0.5s ease 0s;
  margin: auto;
  text-transform: uppercase;
}
@media (hover: hover) {
  .main-section__list_link:hover {
    color: var(--color-white);
    background-color: var(--color-green);
  }
}
@media (max-width: 80rem) {
  .main-section__list_link {
    width: 15rem;
    bottom: 2rem;
  }
}
.main-section__item {
  transform: translate(0%, 70%);
  opacity: 0;
  transition: all 1s ease 0s;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(72, 44, 12, 0.2);
  border: 1px solid rgba(252, 250, 247, 0.43);
  border-radius: 1px;
  text-align: center;
  padding: 2rem;
  max-width: 474px;
  margin: 0 auto;
}
@media (max-width: 48rem) {
  .main-section__item {
    max-width: 100%;
    margin: 0px 10px;
  }
}
.main-section__item_text {
  color: var(--color-white);
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 120%;
  margin-bottom: 2rem;
  font-size: clamp(0.875rem, 1vw, 1.125rem);
}
.main-section__item_link {
  color: var(--color-white);
  background-color: var(--color-brow);
  padding: 1.2rem 1.9rem;
  display: inline-block;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 1vw, 1.125rem);
}
@media (max-width: 48rem) {
  .main-section__item_link {
    padding: 1rem;
  }
}
.main-section__item._action {
  transform: translate(0px, 0px);
  opacity: 1;
}
.main-section__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main-section__blocks {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}
@media (max-width: 64rem) {
  .main-section__blocks {
    flex-wrap: wrap;
  }
}
.main-section__block {
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 1.3rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 2px;
  flex-basis: 40%;
}
@media (max-width: 64rem) {
  .main-section__block {
    flex-basis: 47%;
  }
}
@media (max-width: 48rem) {
  .main-section__block {
    flex-basis: 100%;
  }
}
.main-section__block .subtitle {
  display: flex;
  align-items: start;
  gap: 1.3rem;
  margin-bottom: 3.7rem;
}
@media (max-width: 48rem) {
  .main-section__block .subtitle {
    margin-bottom: 2rem;
  }
}
.main-section__block:first-child .subtitle h3::first-letter {
  font-size: 2.5rem;
}
.main-section__block .text {
  margin: 0;
  padding: 0;
}

/*----------------------------------main-section--------------------------------*/
/*----------------------------------consulting--------------------------------*/
.consulting__list .consulting__link:last-child {
  margin-bottom: 0rem;
}
.consulting__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid rgba(72, 44, 12, 0.4705882353);
  padding-bottom: 1.5rem;
  position: relative;
}
@media (max-width: 48rem) {
  .consulting__link {
    display: block;
  }
}
.consulting__link_number {
  font-size: clamp(1.875rem, 2.2777777778vw, 2.5625rem);
  color: rgba(72, 44, 12, 0.3);
}
@media (max-width: 48rem) {
  .consulting__link_number {
    margin-bottom: 1rem;
    display: inline-block;
  }
}
.consulting__link_title {
  font-weight: 500;
  text-transform: uppercase;
  flex-basis: 23rem;
  font-size: clamp(0.875rem, 0.8888888889vw, 1rem);
}
@media (max-width: 48rem) {
  .consulting__link_title {
    margin-bottom: 1rem;
  }
}
.consulting__link_description {
  flex-basis: 32rem;
  font-size: clamp(0.875rem, 0.8888888889vw, 1rem);
}
@media (max-width: 48rem) {
  .consulting__link_icon {
    position: absolute;
    top: -0.5rem;
    right: 0;
  }
}
.consulting__link_icon svg {
  transition: all 0.3s;
}
@media (max-width: 48rem) {
  .consulting__link_icon svg {
    width: 1rem;
    height: 2rem;
  }
}
@media (hover: hover) {
  .consulting__link:hover .consulting__link_icon svg:last-child {
    transform: rotate(47deg);
  }
}

/*----------------------------------consulting--------------------------------*/
/*----------------------------------advantages--------------------------------*/
.advantages__body {
  display: flex;
  gap: 1.9rem 7rem;
}
@media (max-width: 80rem) {
  .advantages__body {
    gap: 1.9rem 1rem;
  }
}
@media (max-width: 64rem) {
  .advantages__body {
    flex-wrap: wrap;
  }
}
@media (max-width: 48rem) {
  .advantages__body {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
.advantages__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 3rem;
}
@media (max-width: 48rem) {
  .advantages__blocks {
    grid-template-columns: 1fr;
  }
}
.advantages__block {
  border-top: 1px solid rgba(72, 44, 12, 0.3);
  width: 382px;
  padding-top: 1.8rem;
}
@media (max-width: 64rem) {
  .advantages__block {
    width: 100%;
  }
}
.advantages__subtitle {
  font-family: "Playfair", sans-serif;
  margin-bottom: 1.9rem;
  line-height: 100%;
  font-size: 1.9rem;
}
@media (max-width: 48rem) {
  .advantages__subtitle {
    font-size: 1.5rem;
  }
}
.advantages__text {
  font-size: clamp(0.875rem, 0.8888888889vw, 1rem);
}

/*----------------------------------advantages--------------------------------*/
/*----------------------------------services--------------------------------*/
.services__block {
  display: flex;
  align-items: stretch;
  width: 100%;
}
@media (max-width: 48rem) {
  .services__block {
    flex-wrap: wrap;
  }
}
.services__block .consulting__link {
  width: 50%;
}
@media (max-width: 48rem) {
  .services__block .consulting__link {
    width: 100%;
    display: flex;
    margin-bottom: 0.7rem;
    align-items: stretch;
    padding-bottom: 0.7rem;
  }
  .services__block .consulting__link_icon {
    position: static;
    flex: none;
    width: 3.5rem;
    text-align: center;
  }
  .services__block .consulting__link_icon:last-child {
    text-align: end;
  }
}
.services__block .consulting__link:nth-child(even) .consulting__link_icon {
  margin-left: 2rem;
}
@media (max-width: 48rem) {
  .services__block .consulting__link:nth-child(even) .consulting__link_icon {
    margin-left: 0rem;
  }
}

/*----------------------------------services--------------------------------*/
/*----------------------------------container--------------------------------*/
.container-01 {
  background-color: var(--color-green);
  color: var(--color-white);
}

.container-03 {
  background-color: var(--color-brow);
  color: var(--color-white);
}

.container-04,
.container-06 {
  background-color: rgba(247, 225, 190, 0.1960784314);
}

.container-01:target,
.container-02:target,
.container-03:target,
.container-04:target,
.container-05:target,
.container-06:target,
.container-07:target,
.container-08:target {
  padding-top: 5rem;
}

.container {
  padding: 4rem 0rem;
}
@media (max-width: 48rem) {
  .container {
    padding: 1rem 0rem;
  }
}
.container__body {
  display: grid;
  grid-template-columns: 3rem 1fr 1fr 1fr;
  gap: 3rem;
  border-top: 1px solid #c6bcb1;
  padding-top: 1.5rem;
}
@media (max-width: 80rem) {
  .container__body {
    grid-template-columns: 2rem 1fr 1fr 1fr;
    gap: 1rem;
  }
}
@media (max-width: 64rem) {
  .container__body {
    grid-template-columns: 1fr;
  }
}
.container__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container__block .subtitle {
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.container__block .text {
  margin-bottom: 2rem;
  line-height: 130%;
}
.container__block .button {
  max-width: 27rem;
}
.container .consulting__link_number {
  color: rgba(252, 250, 247, 0.5);
  text-transform: uppercase;
  margin-top: 1rem;
}
.container .consulting__link_number--mod {
  color: rgba(72, 44, 12, 0.3);
}
.container__list ul li {
  list-style: normal;
  line-height: 130%;
  margin-left: 1.5rem;
}
.container__title {
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

/*----------------------------------container--------------------------------*/
/*----------------------------------privilege--------------------------------*/
.privilege__body {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 64rem) {
  .privilege__body {
    flex-wrap: wrap;
  }
}
.privilege__title {
  flex-basis: 47rem;
}
.privilege__title .title {
  text-align: start;
}
.privilege__blocks {
  flex-basis: 55rem;
}
.privilege__block {
  display: flex;
  align-items: stretch;
  width: 100%;
}
@media (max-width: 48rem) {
  .privilege__block {
    flex-wrap: wrap;
  }
}
.privilege__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 50%;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(72, 44, 12, 0.2470588235);
  padding-bottom: 1rem;
}
@media (max-width: 48rem) {
  .privilege__item {
    width: 100%;
  }
}
.privilege__item_title {
  text-transform: uppercase;
  font-weight: 500;
}
.privilege__button {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 2rem;
}
@media (max-width: 48rem) {
  .privilege__button {
    width: 100%;
  }
}
.privilege__button a {
  background-color: var(--color-green);
  display: flex;
  justify-content: center;
}

/*----------------------------------privilege--------------------------------*/
/*----------------------------------popup--------------------------------*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 999;
}
.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__content {
  max-width: 43rem;
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 0rem 2rem 2rem 2rem;
  position: relative;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transition: all 0.8s ease 0s;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.popup__title {
  color: #000000;
  font-size: 1.5rem;
  line-height: normal;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup__form .form {
  display: block;
  padding: 0rem;
}
.popup__close {
  margin-bottom: 2rem;
  padding: 2rem 0rem 2rem 2rem;
  display: flex;
  justify-content: end;
}

/*----------------------------------popup--------------------------------*/
/*----------------------------------form--------------------------------*/
.form {
  margin: 0 auto;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  position: relative;
  display: inline-flex;
  gap: 3.5rem;
}
@media (max-width: 80rem) {
  .form {
    flex-wrap: wrap;
  }
}
@media (max-width: 48rem) {
  .form {
    padding: 0rem;
  }
}
.form__description {
  flex-basis: 43rem;
}
.form__title {
  font-size: clamp(1.5rem, 1.6666666667vw, 1.875rem);
  line-height: 100%;
  font-family: "Playfair", sans-serif;
  margin-bottom: 2rem;
}
.form._sending::after {
  opacity: 1;
  visibility: visible;
}
.form__label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.form__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}
@media (max-width: 48rem) {
  .form__items {
    flex-wrap: wrap;
  }
}
.form__messengers {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.form__messenger {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: rgba(252, 250, 247, 0.2);
  border: 1px solid rgba(252, 250, 247, 0.3);
  border-radius: 2px;
  padding: 1rem;
}
.form__messenger:hover {
  background: rgba(241, 240, 238, 0.5);
}
.form__item {
  width: 100%;
  margin-bottom: 1rem;
}
@media (max-width: 48rem) {
  .form__item {
    margin-bottom: 0rem;
  }
}
.form__inner {
  max-width: 16rem;
}
.form__input {
  background-color: rgba(252, 250, 247, 0.2039215686);
  padding: 1rem 1.6rem;
  border: 1px solid rgba(252, 250, 247, 0.3);
  border-radius: 2px;
  transition: all 0.3s ease 0s;
  width: 100%;
  color: var(--color-white);
}
.form__input::-moz-placeholder {
  color: rgba(252, 250, 247, 0.6);
  font-size: clamp(0.875rem, 0.8888888889vw, 1rem);
}
.form__input::placeholder {
  color: rgba(252, 250, 247, 0.6);
  font-size: clamp(0.875rem, 0.8888888889vw, 1rem);
}
.form__input:focus {
  box-shadow: 0 0 15px var(--color-blue);
}
.form__input._error {
  border: 1px solid red;
}
.form__error {
  font-size: 0.7rem;
  color: red;
  opacity: 0;
}
.form__error.view {
  opacity: 1;
}
.form__button {
  width: 100%;
  padding: 0.9rem 1.6rem;
  background-color: var(--color-blue);
  cursor: pointer;
  color: var(--color-brow);
  border: 1px solid rgba(252, 250, 247, 0.3);
  border-radius: 2px;
  font-weight: 600;
  font-size: clamp(0.875rem, 0.8888888889vw, 1rem);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: #fcfaf7;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.form__body {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 48rem) {
  .form__body {
    flex-wrap: wrap;
    width: 100%;
  }
}

.checkbox {
  width: 100%;
  margin-bottom: 1rem;
}
.checkbox._error .checkbox__label::before {
  border: 1px solid red;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}
.checkbox__label {
  font-size: clamp(0.75rem, 0.7777777778vw, 0.875rem);
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.checkbox__label span {
  opacity: 0.5;
}
.checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 0.5rem;
  border: 0.5px solid rgba(252, 250, 247, 0.5);
}
.checkbox__label::after {
  transition: all 0.3s ease 0s;
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
  background-color: var(--color-white);
  transform: scale(0);
}

.success-message {
  display: flex;
  justify-content: center;
  font-size: clamp(1.5rem, 1.6666666667vw, 1.875rem);
}

/*----------------------------------form--------------------------------*/
/*----------------------------------policy--------------------------------*/
.policy__title .title {
  font-size: clamp(1.375rem, 1.6666666667vw, 1.875rem);
  margin-bottom: 2rem;
}

.policy__subtitle {
  font-size: clamp(1.125rem, 1.1111111111vw, 1.25rem);
  margin-bottom: 1rem;
}

.policy__block {
  margin-bottom: 1rem;
}

.policy__link {
  display: inline;
}

.policy__list ul li {
  font-size: clamp(0.875rem, 0.8888888889vw, 1rem);
}

/*----------------------------------policy--------------------------------*/
/*----------------------------------expertise--------------------------------*/
.expertise {
  margin-top: 6rem;
}
@media (max-width: 64rem) {
  .expertise {
    margin-top: 3rem;
  }
}
.expertise .title {
  text-align: start;
  margin-bottom: 0rem;
}
.expertise__info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 1rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 64rem) {
  .expertise__info {
    flex-wrap: wrap;
  }
}
.expertise__text {
  text-transform: uppercase;
  flex-basis: 80rem;
  font-weight: 600;
  line-height: 120%;
  font-size: clamp(0.75rem, 0.8888888889vw, 1rem);
}
.expertise__img {
  margin-bottom: 3.7rem;
}
.expertise__img img {
  border-radius: 2px;
}
.expertise__blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
  gap: 1rem 2.5rem;
}
.expertise__block {
  background: rgba(247, 225, 190, 0.2);
  padding: 1.2rem;
}
.expertise__block .subtitle {
  margin-bottom: 1rem;
}

/*----------------------------------expertise--------------------------------*/
/*----------------------------------footer--------------------------------*/
.footer {
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 5rem 0rem 1.6rem;
}
.footer__form .form {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.footer__form, .footer__body {
  padding-bottom: 3rem;
  border-bottom: 1px solid #FCFAF7;
  margin-bottom: 5rem;
}
@media (max-width: 48rem) {
  .footer__form, .footer__body {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
}
.footer__body, .footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.footer__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem 20rem;
  flex-wrap: wrap;
  font-size: clamp(0.75rem, 0.8888888889vw, 1rem);
  text-transform: uppercase;
  line-height: 120%;
}
.footer__link {
  margin-bottom: 1rem;
}
.footer__link:last-child {
  margin-top: 1rem;
}
.footer__contacts address {
  line-height: 150%;
}

/*----------------------------------footer--------------------------------*//*# sourceMappingURL=styles.css.map */