@import 
'normalize',
'mixins',
'fonts',
'media',
'utils',
'variables';

@import 
'blocks/globals',
'blocks/header',
'blocks/menu',
'blocks/search',
'blocks/burger',
'blocks/breadcrumbs',
'blocks/sliders',
'blocks/popup',
'blocks/form',
'blocks/accordion',
'blocks/tabs',
'blocks/footer';

